@theme {
  --animate-moving: moving 0.3s ease-in-out;
  @keyframes moving {
    from {
      filter: blur(2px);
    }
    to {
      filter: blur(0);
    }
  }

  --animate-stroke: stroke 1.5s ease-in forwards;
  @keyframes stroke {
    0% {
      stroke-dasharray: 10;
      color: transparent;
      stroke: black;
    }
    75% {
      stroke-dasharray: 100;
      color: transparent;
      stroke: transparent;
    }
    100% {
      color: black;
      stroke: transparent;
    }
  }
  --animate-move-in: move-in 0.5s ease-in both;
  @keyframes move-in {
    from {
      opacity: 0;
      transform: translateY(48px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      z-index: 1;
    }
  }
  --animate-move-out: move-out 0.5s ease-in both;
  @keyframes move-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(48px);
      z-index: -1;
    }
  }

  --animate-stroke-dark: stroke-dark 1.5s ease-in forwards;
  @keyframes stroke-dark {
    0% {
      stroke-dasharray: 10;
      color: transparent;
      stroke: white;
    }
    75% {
      stroke-dasharray: 100;
      color: transparent;
      stroke: transparent;
    }
    100% {
      color: white;
      stroke: transparent;
    }
  }

  --animate-expand-horizontal: expand-horizontal 0.5s ease-in-out forwards;
  @keyframes expand-horizontal {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }
}

.tech {
  @apply stroke-1 animate-stroke dark:animate-stroke-dark;
}
