@theme {
  --animate-stroke: stroke 1.5s ease-in forwards;
  @keyframes stroke {
    0% {
      stroke-dasharray: 10;
      color: transparent;
      stroke: black;
    }
    75% {
      stroke-dasharray: 100;
      color: transparent;
      stroke: transparent;
    }
    100% {
      color: black;
      stroke: transparent;
    }
  }
  --animate-stroke-dark: stroke-dark 1.5s ease-in forwards;
  @keyframes stroke-dark {
    0% {
      stroke-dasharray: 10;
      color: transparent;
      stroke: white;
    }
    75% {
      stroke-dasharray: 100;
      color: transparent;
      stroke: transparent;
    }
    100% {
      color: white;
      stroke: transparent;
    }
  }

  --animate-move-in: move-in 0.5s ease-in both;
  @keyframes move-in {
    from {
      opacity: 0;
      transform: translateY(48px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      z-index: 1;
    }
  }
  --animate-move-out: move-out 0.5s ease-in both;
  @keyframes move-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(48px);
      z-index: -1;
    }
  }

  --animate-expand-horizontal: expand-horizontal 0.5s ease-in-out forwards;
  @keyframes expand-horizontal {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }

  --animate-lits-a-bit: lits-a-bit 2s ease-in-out;
  @keyframes lits-a-bit {
    0%,
    100% {
      opacity: 0.75;
    }
    50% {
      opacity: 1;
    }
  }

  --animate-book-open-cape: book-open-cape 1s linear 1s;
  @keyframes book-open-cape {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(180deg);
    }
  }

  --animate-book-close-cape: book-close-cape 1s linear 1s;
  @keyframes book-close-cape {
    from {
      transform: rotateY(180deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }

  --animate-book-showing-content: showing-content 1s ease-in-out 0.9s both;
  @keyframes showing-content {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-book-selected-overlay: selected-overlay 1s ease-in-out 0.9s both;
  @keyframes selected-overlay {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-in: fade-in 0.5s ease-in 1s both;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.tech {
  @apply stroke-1 animate-stroke dark:animate-stroke-dark;
}
