/* Breakpoints Variables */
@theme {
  --breakpoint-xs: 25.5625rem; /* 425px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 90rem; /* 1440px */
  --breakpoint-2xl: 96rem; /* 1536px */
}
