.gradient-border::after,
.gradient-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(
    from var(--rotate),
    transparent 70%,
    var(--color-purple-heart-600) 33%,
    var(--color-punch-600) 100%
  );
  padding: 80px;
  border-radius: inherit;
  z-index: -1;
  animation: 10s rotate cubic-bezier(0.52, 0.89, 0.79, 0.78) infinite;
  opacity: 0;
  filter: blur(0px);

  transition: 1s;
}

.gradient-border:hover::after,
.gradient-border:hover::before {
  opacity: 1;
}

.gradient-border::after {
  filter: blur(2px);
}
.gradient-border::before {
  filter: blur(12px);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

.glitched {
  position: relative;
  animation: glitch 500ms linear 5s forwards;
}

.glitched > span:first-child,
.glitched > span:last-child {
  position: absolute;
  left: 37px;
  z-index: 50;
  color: white;
}

.glitched > span:first-child {
  clip-path: inset(0 0 50% 0);
  animation: glitch-move-forward 1s linear 5s forwards;
}

.glitched > span:last-child {
  clip-path: inset(50% 0 0 0);
  animation: glitch-move-backward 1s linear 5s forwards;
}

@keyframes glitch {
  0% {
    transform: skewX(0deg);
  }
  49% {
    transform: skewX(0deg);
  }
  50% {
    transform: skewX(-45deg);
  }
  54% {
    transform: skewX(-45deg);
  }
  55% {
    transform: skewX(45deg);
  }
  56% {
    transform: skewX(-45deg);
  }
  75% {
    transform: skewX(-45deg);
  }
  76% {
    transform: skewX(45deg);
  }
  80% {
    transform: skewX(10deg);
  }
  81% {
    transform: skewX(45deg);
  }
  88% {
    transform: skewX(45deg);
  }
  99% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
@keyframes glitch-move-forward {
  0% {
    transform: translateX(0);
  }
  48% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  52% {
    transform: translateX(20px);
  }
  53% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes glitch-move-backward {
  0% {
    transform: translateX(0);
  }
  48% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-16px, 8px);
  }
  52% {
    transform: translate(-16px, -4px);
  }
  53% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
