.gradient-border::after,
.gradient-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(
    from var(--rotate),
    transparent 70%,
    var(--color-purple-heart-600) 33%,
    var(--color-punch-600) 100%
  );
  padding: 80px;
  border-radius: inherit;
  z-index: -1;
  animation: 10s rotate cubic-bezier(0.52, 0.89, 0.79, 0.78) infinite;
  opacity: 0;
  filter: blur(0px);

  transition: 1s;
}

.gradient-border:hover::after,
.gradient-border:hover::before {
  opacity: 1;
}

.gradient-border::after {
  filter: blur(2px);
}
.gradient-border::before {
  filter: blur(12px);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}
