/* Color Variables */
@theme {
  --color-punch-200: hsl(0, 100%, 95%); /* #ffe5e5 */
  --color-punch-300: hsl(0, 98%, 82%); /* #fbbaba */
  --color-punch-400: hsl(0, 95%, 71%); /* #f28a8a */
  --color-punch-500: hsl(0, 87%, 60%); /* #e85c5c */
  --color-punch-600: hsl(0, 75%, 50%); /* #d62828 */
  --color-punch-700: hsl(0, 77%, 42%); /* #b71f1f */
  --color-punch-800: hsl(0, 72%, 35%); /* #991818 */
  --color-punch-900: hsl(0, 65%, 31%); /* #851515 */

  --color-purple-heart-200: hsl(247, 100%, 92%); /* #ede7ff */
  --color-purple-heart-300: hsl(250, 100%, 85%); /* #d6c6ff */
  --color-purple-heart-400: hsl(252, 98%, 76%); /* #b9a0ff */
  --color-purple-heart-500: hsl(255, 95%, 66%); /* #9c7aff */
  --color-purple-heart-600: hsl(259, 89%, 58%); /* #8158f9 */
  --color-purple-heart-700: hsl(260, 75%, 50%); /* #6b38e0 */
  --color-purple-heart-800: hsl(260, 74%, 42%); /* #582db7 */
  --color-purple-heart-900: hsl(260, 72%, 35%); /* #47248f */

  --color-shark-50: hsl(0, 0%, 97%); /* #f7f7f7 */
  --color-shark-100: hsl(0, 0%, 91%); /* #e8e8e8 */
  --color-shark-200: hsl(0, 0%, 82%); /* #d1d1d1 */
  --color-shark-300: hsl(0, 0%, 69%); /* #b0b0b0 */
  --color-shark-400: hsl(0, 0%, 50%); /* #808080 */
  --color-shark-500: hsl(0, 0%, 40%); /* #666666 */
  --color-shark-600: hsl(0, 0%, 35%); /* #595959 */
  --color-shark-700: hsl(0, 0%, 30%); /* #4d4d4d */
  --color-shark-800: hsl(0, 0%, 20%); /* #333333 */
  --color-shark-900: hsl(0, 0%, 10%); /* #1a1a1a */
  --color-shark-950: hsl(0, 0%, 5%); /* #0d0d0d */
}
