/* Main */
@import "tailwindcss";

/* Variables */
@import "./css/var.css";
@import "./css/breakpoints.css";
@import "./css/color.css";

/* Animations */
@import "./css/animation.css";

/* Plugins */
@plugin 'tailwind-scrollbar';

/* Dark Theme */
@custom-variant dark (&:where(.dark, .dark *));

/* Components */
@import "./css/components.css";

/* Utilities */
@import "./css/utility.css";

/* Classes */
@import "./css/class.css";
