@import "./css/var.css";
@import "./css/animation.css";

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

.text-gradient {
  @apply text-transparent bg-gradient-to-b from-shark-900 to-black dark:from-white dark:to-shark-200 bg-clip-text;
}
.text-gradient-inverted {
  @apply text-transparent bg-gradient-to-b from-white to-shark-200 dark:from-shark-900 dark:to-black bg-clip-text;
}

.btn-default {
  @apply min-w-fit py-2 px-4 border rounded-lg ease-in-out duration-300 cursor-pointer;
}
.btn-default-color {
  @apply border-black/25 text-shark-900 dark:border-white/25 dark:text-shark-100 hover:bg-black/10 dark:hover:bg-white/10 active:bg-black/20 active:shadow-base active:shadow-black/25 dark:active:bg-white/20 dark:active:shadow-white/25;
}

@utility grid-bg-light {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
}

@utility grid-bg-dark {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
}

@utility grid-transition-light {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(45deg) translateY(-50%);
  transition: transform 1s ease-in-out;
}
@utility grid-transition-back-light {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(0deg) translateY(0);
  transition: transform 1s ease-in-out;
}
@utility grid-transition-dark {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(45deg) translateY(-50%);
  transition: transform 1s ease-in-out;
}
@utility grid-transition-back-dark {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(0deg) translateY(0);
  transition: transform 1s ease-in-out;
}

@utility grid-animated {
  animation: move-grid 15s linear infinite;
}

@keyframes move-grid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 260px;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gradient-border::after,
.gradient-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(
    from var(--rotate),
    transparent 70%,
    var(--color-purple-heart-600) 33%,
    var(--color-punch-600) 100%
  );
  padding: 80px;
  border-radius: inherit;
  z-index: -1;
  animation: 10s rotate cubic-bezier(0.52, 0.89, 0.79, 0.78) infinite;
  opacity: 0;
  filter: blur(0px);

  transition: 1s;
}

.gradient-border:hover::after,
.gradient-border:hover::before {
  opacity: 1;
}

.gradient-border::after {
  filter: blur(2px);
}
.gradient-border::before {
  filter: blur(12px);
}

@keyframes rotate {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}
