@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-punch-200: hsl(0, 100%, 95%);
  --color-punch-300: hsl(0, 98%, 82%);
  --color-punch-400: hsl(0, 95%, 71%);
  --color-punch-500: hsl(0, 87%, 60%);
  --color-punch-600: hsl(0, 75%, 50%);
  --color-punch-700: hsl(0, 77%, 42%);
  --color-punch-800: hsl(0, 72%, 35%);
  --color-punch-900: hsl(0, 65%, 31%);

  --color-purple-heart-200: hsl(247, 100%, 92%);
  --color-purple-heart-300: hsl(250, 100%, 85%);
  --color-purple-heart-400: hsl(252, 98%, 76%);
  --color-purple-heart-500: hsl(255, 95%, 66%);
  --color-purple-heart-600: hsl(259, 89%, 58%);
  --color-purple-heart-700: hsl(260, 75%, 50%);
  --color-purple-heart-800: hsl(260, 74%, 42%);
  --color-purple-heart-900: hsl(260, 72%, 35%);

  --color-shark-100: hsl(0, 0%, 91%);
  --color-shark-200: hsl(0, 0%, 82%);
  --color-shark-300: hsl(0, 0%, 69%);
  --color-shark-400: hsl(0, 0%, 53%);
  --color-shark-500: hsl(0, 0%, 43%);
  --color-shark-600: hsl(0, 0%, 36%);
  --color-shark-700: hsl(0, 0%, 31%);
  --color-shark-800: hsl(0, 0%, 27%);
  --color-shark-900: hsl(0, 0%, 24%);
  --color-shark-950: hsl(0, 0%, 15%);

  --animate-moving: moving 0.3s ease-in-out;

  @keyframes moving {
    from {
      filter: blur(2px);
    }
    to {
      filter: blur(0);
    }
  }
}
