@import "./css/var.css";
@import "./css/animation.css";

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

.text-gradient {
  @apply text-transparent bg-gradient-to-b from-shark-900 to-black dark:from-white dark:to-shark-200 bg-clip-text;
}
.text-gradient-inverted {
  @apply text-transparent bg-gradient-to-b from-white to-shark-200 dark:from-shark-900 dark:to-black bg-clip-text;
}

.btn-default {
  @apply min-w-fit py-2 px-4 border rounded-lg ease-in-out duration-300 cursor-pointer;
}
.btn-default-color {
  @apply border-black/25 text-shark-900 dark:border-white/25 dark:text-shark-100 hover:bg-black/10 dark:hover:bg-white/10;
}

@utility grid-bg-light {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
}

@utility grid-bg-dark {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
}

@utility grid-transition-light {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(45deg) translateY(-50%);
  transition: transform 1s ease-in-out;
}
@utility grid-transition-back-light {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(0deg) translateY(0);
  transition: transform 1s ease-in-out;
}
@utility grid-transition-dark {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(45deg) translateY(-50%);
  transition: transform 1s ease-in-out;
}
@utility grid-transition-back-dark {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 140px 260px;
  transform-origin: top center;
  transform: rotateX(0deg) translateY(0);
  transition: transform 1s ease-in-out;
}

@utility grid-animated {
  animation: move-grid 15s linear infinite;
}

@keyframes move-grid {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 260px;
  }
}
